@font-face {
    font-family: 'newStyle';
    src: url('../public/fonts/CollectionNewStyle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'revonza';
    src: url('../public/fonts/REVONZA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}