//colors
$color-blue: #4d7ca2;
$color-clay: #c5c5c580;
$color-grey: #8b8787;
$color-red: #cb335e;
$color-gold: #dd9911;
$color-green: #6ecca3;
$color-mauve: #7f7f9e;
$color-shadow: #25262c;

//breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;