@use "variables" as v;
@use "mixins" as m;
@use "fonts";
@use "animText";
@use "animChevron";

:root {
  --max-width: 100%;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  color: rbg(--foreground-rgb);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/// HEADER ///

header {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.85rem;
  z-index: 2;
  font-family: var(--font-mono);
  margin-right: 5rem;
  margin-top: 2rem;

  span {
    margin: .2rem;
  }
}

/// OVERALL ///

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/// LANDING ZONE ///

#landing {
  height: 100vh;
  margin-bottom: 2rem;
  padding-top: 15vh;
}

.title {
  text-align: center;
  @include m.media (v.$md-breakpoint) {
    padding-top: 18vh;
  }


  strong {
    font-family: 'newStyle';
    font-size: 10rem;
    font-weight: lighter;
    line-height: 5rem;
  }
}

a {
  color: black;

  &:hover {
    color: teal;
  }
}

hr {
  width: 50%;
  margin: 1rem auto;
}

/// ABOUT ///

#projects {
  text-align: center;
  font-size: 1.4rem;

  h3 {
    font-size: 2rem;
  }

  hr {
    width: 50%;
    margin: 1rem auto;
  }

  p {
    margin-bottom: 1.6rem;
    font-family: 'dayroman';
  }
}

/// CAROUSEL ///

.swiper {
  width: 100%;
  @include m.media (v.$md-breakpoint) {
    width: 70%
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/// CONTACT ///

#contact {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 1.2rem;

  h3 {
    font-size: 2rem;
  }

  hr {
    width: 50%;
    margin: 1rem auto;
  }
}

.flex {
  @include m.media (v.$sm-breakpoint) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include m.media (v.$lg-breakpoint) {
      width: 60%;
      margin: auto;
    }

    .row {
      flex-basis: 48%;
    }
  }
}

form {
  margin: 1rem 0;

  label {
    text-align: left;
    display: block
  }

  input,
  textarea {
    width: 100%;
    padding: .4rem;
    border-radius: 5px;
    border: solid 1px v.$color-shadow;
  }

  button {
    border:none;
    background-color: v.$color-shadow;
    color: white;
    padding: .6rem;
    width: 25%;
    margin-top: 1rem;
    border-radius: 5px;

    &:hover{
      background-color: teal;
    }
  }
}

/// FOOTER ///

footer {
  margin-right: 1rem;
  display: flex;
  text-align: center;
  font-size: .85rem;
  font-family: var(--font-mono);

  @include m.media (v.$sm-breakpoint) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  strong {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    margin: 1rem
  }
}

// PROJECT DETAILS

.project-detail{
  width: 100vw;
  padding-top: 4rem;

  .no-reverse{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

    @include m.media (v.$md-breakpoint) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .reverse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    

    @include m.media (v.$md-breakpoint) {
      flex-direction: row-reverse;
      justify-content: center;
    }

    p{
      max-width: 600px;
      text-align: justify;
      margin-left: 5rem;
    }
  }
}

.project-img{
  position: relative;
  width: 100vw;
  height: 50vw;

  @include m.media (v.$md-breakpoint) {
    width: 600px;
    height: 300px;
  }

  @include m.media (v.$lg-breakpoint) {
    width: 900px;
    height: 450px;
  }
}

