@use "variables" as v;
@use "mixins" as m;
@use "fonts";

:root {
  --max-width: 100%;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  color: rbg(--foreground-rgb);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/// HEADER ///

header {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.85rem;
  z-index: 2;
  font-family: var(--font-mono);
  margin-right: 5rem;
  margin-top: 2rem;

  span {
    margin: .2rem;

  }
}

/// OVERALL ///

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/// LANDING ZONE ///

#landing {
  height: 100vh;
  margin-bottom: 2rem;
  padding-top: 15vh;
}

.title {
  text-align: center;
  @include m.media (v.$md-breakpoint) {
    padding-top: 20vh;
  }


  strong {
    font-family: 'newStyle';
    font-size: 10rem;
    font-weight: lighter;
    line-height: 5rem;
  }
}

a {
  color: black;

  &:hover {
    color: teal;
  }
}

hr {
  width: 50%;
  margin: 1rem auto;
}

/// animation Chevron ///

@keyframes chevronAnimation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

.chevronDown {
  display: none;

  @include m.media (v.$sm-breakpoint) {
    display: block;
    position: absolute;
    top: 94vh;
    left: 47vw;
    font-size: 3rem;
    animation-name: chevronAnimation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

/// animation text ///

.listWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  overflow: hidden;
  font-size: 3rem;
  line-height: 6rem;
  font-family: 'revonza';

  @include m.media (v.$sm-breakpoint) {
    flex-direction: row;
    .list{
      text-align: right;
    }
  }

  @include m.media (v.$md-breakpoint) {
    font-size: 5rem;
  }

  span {
    align-self: start;
    margin:0 auto;
    @include m.media (v.$sm-breakpoint) {
    margin: 0;
    }
  }

  .listRow {
    overflow: hidden;
    height: 6rem;

    .list {
      text-align: center;
      list-style: none;
      margin-right: 1rem;

      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;


      .listItem {
        line-height: 6rem;
        margin: 0;
      }
    }
  }
}

@-webkit-keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-o-keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-moz-keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/// ABOUT ///

#projects {
  text-align: center;
  font-size: 1.4rem;

  h3 {
    font-size: 2rem;
  }

  hr {
    width: 50%;
    margin: 1rem auto;
  }

  p {
    margin-bottom: 1.6rem;
  }
}

/// CAROUSEL ///

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 1.6rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  max-height: 80vh;
  margin: auto;
}

/// CONTACT ///

#contact {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 1.2rem;

  h3 {
    font-size: 2rem;
  }

  hr {
    width: 50%;
    margin: 1rem auto;
  }
}

.flex {
  @include m.media (v.$sm-breakpoint) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .row {
      flex-basis: 48%;
    }
  }
}

form {
  margin: 1rem 0;

  label {
    text-align: left;
    display: block
  }

  input,
  textarea {
    width: 100%;
    padding: .4rem;
  }

  button {
    background-color: v.$color-shadow;
    color: white;
    padding: .6rem;
    width: 25%;
    margin-top: 1rem;
  }
}

/// FOOTER ///

footer {
  margin-right: 1rem;
  display: flex;
  text-align: center;
  font-size: 1rem;

  @include m.media (v.$sm-breakpoint) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  strong {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    margin: 1rem
  }
}